{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title> HelpDesk </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">

  <style>
    .left {
      float: left;
      text-align: left;
    }

    .right {
      float: right;
      text-align: right;
    }

    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>

<body>
  <div class="container text-center my-3">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <img src="{% static 'main/image/logo.gif' %}" alt='logo' />
        <hr>
        <div class="left"><i class="fa-regular fa-envelope-open"></i> tp@sats.spb.ru</div>
        <div class="right"><i class="fa-regular fa-phone-flip"></i> 8(812)576-74-50</div>
        <div class="clearfix"></div>
      
        <p>При неисправности телефонной линии обращаться в кабинет 76 или по телефону 576-99-22</p>
        <a href="http://helpdesk.admkalin.local">
          <button type="button" class="btn btn-dark">Отправить</button>
        </a>

      </div>

    </div>





  </div>


</body>

</html>